[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = ">=2.8.0"
pytest-cov = "*"
pytest-mock = "*"
responses = "<3.0.0"
tox = "*"
"flake8" = "*"
pytest-benchmark = "*"


[packages]

six = "*"
requests = "*"
"functools32" = "*"
"enum34" = "*"
future = "*"
shapely = "*"


[requires]

python_version = "2.7"
